.mainTable {
  margin: 50px auto;
  table {
    border-radius: 5px;
  }
  th {
    border-radius: 0px;
  }
  th:nth-of-type(1) {
    border-top-left-radius: 5px;
  }
  th:last-of-type {
    border-top-right-radius: 5px;
  }
}


.present-red {
  color: red;
}

.present-green {
  color: green;
}

.notvisible {
  display: none;
}